In [2]:
print("Twinkle, twinkle, little star,")
print("    How I wonder what you are!")
print("        Up above the world so high,")
print("        Like a diamond in the sky.")
print("Twinkle, twinkle, little star,")
print("    How I wonder what you are")

Twinkle, twinkle, little star,
    How I wonder what you are!
        Up above the world so high,
        Like a diamond in the sky.
Twinkle, twinkle, little star,
    How I wonder what you are

In [12]:
import sys

# Print the Python version
print("Python version")
print(sys.version)

# Print the version info
print("Version info.")
print(sys.version_info)

Python version
3.12.4 | packaged by Anaconda, Inc. | (main, Jun 18 2024, 15:03:56) [MSC v.1929 64 bit (AMD64)]
Version info.
sys.version_info(major=3, minor=12, micro=4, releaselevel='final', serial=0)

In [4]:
from datetime import datetime

now = datetime.now()
current_time = now.strftime("%Y-%m-%d %H:%M:%S")
print("Current Date and Time:", current_time)

Current Date and Time: 2024-08-03 13:17:49

In [5]:
import math

radius = float(input("Enter the radius of the circle: "))
area = math.pi * radius ** 2
print("The area of the circle is:", area)

Enter the radius of the circle:  15

The area of the circle is: 706.8583470577034

In [6]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
print("Reverse order:", last_name, first_name)

Enter your first name:  Mirza Hammad
Enter your last name:  Ali

Reverse order: Ali Mirza Hammad

In [7]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
sum = num1 + num2
print("The sum is:", sum)

Enter first number:  89
Enter second number:  87

The sum is: 176

In [8]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print(f"{num} is even.")
else:
    print(f"{num} is odd.")

Enter a number:  89

89 is odd.

In [3]:
marks = []
for x in range(5):
    mark = float(input(f"Enter marks for subject {x+1}: "))
    marks.append(mark)

total = sum(marks)
average = total/ 5

if average >= 90:
    grade = 'A'
elif average >= 80:
    grade = 'B'
elif average >= 70:
    grade = 'C'
elif average >= 60:
    grade = 'D'
else:
    grade = 'F'

print(f"Total Marks: {total}")
print(f"Average Marks: {average}")
print(f"Grade: {grade}")

Enter marks for subject 1:  87
Enter marks for subject 2:  89
Enter marks for subject 3:  54
Enter marks for subject 4:  78
Enter marks for subject 5:  98

Total Marks: 406.0
Average Marks: 81.2
Grade: B

In [9]:
my_list = [1, 2, 3, 4, 5]
print("The length of the list is:", len(my_list))

The length of the list is: 5

In [1]:
my_list = [1, 2, 3, 4, 5, 6]
total = sum(my_list)
print(f"The sum of all numbers in the list is: {total}")

The sum of all numbers in the list is: 21

In [10]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
result = [x for x in a if x < 10]
print("Elements of the list that are less than 5:", result)

Elements of the list that are less than 5: [1, 1, 2, 3, 5, 8]

In [11]:
my_list = [1, 2, 3, 4, 5]
largest = max(my_list)
print("The largest number in the list is:", largest)

The largest number in the list is: 5